#php_flag register_globals Off
#AddDefaultCharset utf-8
#php_value date.timezone Europe/Moscow

Options +FollowSymlinks
RewriteEngine On
RewriteBase /

#Редирект на SSL
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
#
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R=301,L]

# fix for infinite loop
RewriteCond %{ENV:REDIRECT_STATUS} 100
RewriteRule .* - [L]

php_value error_log /home/smtauto/domains/karmatest.chrge.ru/php.log
